/* Appointment Section Styles */
*{
    padding: 0;
    margin: 0; /* Added to reset margins as well */
  box-sizing: border-box; /* Ensures padding doesn't affect width/height */
}
.appointment-section {
    padding:  80px 40px;
    background-color: #f9f9f9;
    text-align: center;
    
  }
  .appointment-section h2 {
    color: #1e3a8a;
    font-size: 2em;
    margin-bottom: 10px;
  }
  .category-buttons {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 12px;
    padding: 15px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .category-buttons::-webkit-scrollbar {
    display: none;
  }
  .category-btn {
    padding: 10px 20px;
    background-color: #e0e7ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  .category-btn.active {
    /* background-color: #3b82f6; */
    background-color: #0d387c;
    color: white;
  }
  .doctors-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 60vh;
  }
  .doctors-list::-webkit-scrollbar {
    display: none;
  }
  .doctor-card {
    background-color: white;
    border-radius: 10px;
    
    text-align: center;
    min-width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
  }
  .doctor-card img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    background-color: #666 !important;
    object-fit: cover; /* Ensures image fits without distortion */
  }
  .doctor-card h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
  }
  .doctor-card p {
    color: #666;
    font-size: 0.9em;
  }
  @media (max-width: 992px) {

    .appointment-section {
      padding: 40px 20px;
      background-color: #f9f9f9;
      text-align: center;
    }
    .category-buttons {
      
      gap: 10px;
      flex-wrap: wrap;
     
  }
  }